#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
    };
};

#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Optimag";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  150       0     0     0>
            , <&key_physical_attrs 100 100  300  150       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100  500  150       0     0     0>
            , <&key_physical_attrs 100 100  600  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  250       0     0     0>
            , <&key_physical_attrs 100 100  300  250       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  500  250       0     0     0>
            , <&key_physical_attrs 100 100  600  250       0     0     0>
            , <&key_physical_attrs 150 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  156  350       0     0     0>
            , <&key_physical_attrs 100 100  256  350       0     0     0>
            , <&key_physical_attrs 100 100  356  350       0     0     0>
            , <&key_physical_attrs 100 100  456  350       0     0     0>
            , <&key_physical_attrs 100 100  556  350       0     0     0>
            , <&key_physical_attrs 175 100    0  450       0     0     0>
            , <&key_physical_attrs 100 100  180  450       0     0     0>
            , <&key_physical_attrs 100 100  280  450       0     0     0>
            , <&key_physical_attrs 100 100  380  450       0     0     0>
            , <&key_physical_attrs 100 100  480  450       0     0     0>
            , <&key_physical_attrs 100 100  580  450       0     0     0>
            , <&key_physical_attrs 225 100    0  550       0     0     0>
            , <&key_physical_attrs 100 100  230  550       0     0     0>
            , <&key_physical_attrs 100 100  330  550       0     0     0>
            , <&key_physical_attrs 100 100  430  550       0     0     0>
            , <&key_physical_attrs 100 100  530  550       0     0     0>
            , <&key_physical_attrs 100 100  630  550       0     0     0>
            , <&key_physical_attrs 150 100    0  650       0     0     0>
            , <&key_physical_attrs 100 100  160  650       0     0     0>
            , <&key_physical_attrs 100 100  260  650       0     0     0>
            , <&key_physical_attrs 225 100  470  650       0     0     0>
            , <&key_physical_attrs 100 100  800  150       0     0     0>
            , <&key_physical_attrs 100 100  900  150       0     0     0>
            , <&key_physical_attrs 100 100 1000  150       0     0     0>
            , <&key_physical_attrs 100 100 1100  150       0     0     0>
            , <&key_physical_attrs 100 100 1200  150       0     0     0>
            , <&key_physical_attrs 100 100 1300  150       0     0     0>
            , <&key_physical_attrs 100 100 1400  150       0     0     0>
            , <&key_physical_attrs 100 100  744  250       0     0     0>
            , <&key_physical_attrs 100 100  844  250       0     0     0>
            , <&key_physical_attrs 100 100  944  250       0     0     0>
            , <&key_physical_attrs 100 100 1044  250       0     0     0>
            , <&key_physical_attrs 100 100 1144  250       0     0     0>
            , <&key_physical_attrs 100 100 1244  250       0     0     0>
            , <&key_physical_attrs 150 100 1350  250       0     0     0>
            , <&key_physical_attrs 100 100  700  350       0     0     0>
            , <&key_physical_attrs 100 100  800  350       0     0     0>
            , <&key_physical_attrs 100 100  900  350       0     0     0>
            , <&key_physical_attrs 100 100 1000  350       0     0     0>
            , <&key_physical_attrs 100 100 1100  350       0     0     0>
            , <&key_physical_attrs 100 100 1200  350       0     0     0>
            , <&key_physical_attrs 100 100 1300  350       0     0     0>
            , <&key_physical_attrs 100 100 1400  350       0     0     0>
            , <&key_physical_attrs 100 100  720  450       0     0     0>
            , <&key_physical_attrs 100 100  820  450       0     0     0>
            , <&key_physical_attrs 100 100  920  450       0     0     0>
            , <&key_physical_attrs 100 100 1020  450       0     0     0>
            , <&key_physical_attrs 100 100 1120  450       0     0     0>
            , <&key_physical_attrs 100 100 1220  450       0     0     0>
            , <&key_physical_attrs 175 100 1325  450       0     0     0>
            , <&key_physical_attrs 100 100  770  550       0     0     0>
            , <&key_physical_attrs 100 100  870  550       0     0     0>
            , <&key_physical_attrs 100 100  970  550       0     0     0>
            , <&key_physical_attrs 100 100 1070  550       0     0     0>
            , <&key_physical_attrs 100 100 1170  550       0     0     0>
            , <&key_physical_attrs 100 100 1300  550       0     0     0>
            , <&key_physical_attrs 225 100  810  650       0     0     0>
            , <&key_physical_attrs 100 100 1200  650       0     0     0>
            , <&key_physical_attrs 100 100 1300  650       0     0     0>
            , <&key_physical_attrs 100 100 1400  650       0     0     0>
            ;
    };
};
